{% extends "layout.html" %}
{% block content %}
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                <div class="container">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.private_title.label(class="form-control-label") }}
                                {% if form.private_title.errors %}
                                    {{ form.private_title(class="is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.private_title.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.private_title() }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6" class="form-group">
                            <div>
                                {{ form.isActive.label(class="form-control-label") }}
                                {% if form.isActive.errors %}
                                    {{ form.isActive(class="is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.isActive.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.isActive() }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div>
                                {{ form.title.label(class="form-control-label") }}
                                {% if form.title.errors %}
                                    {{ form.title(class="is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.title() }}
                                {% endif %}
                             </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}