{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        {% if word.word %}
            {% if word.contributor %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + word.contributor.image_file) }}">
            {% else %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg') }}">
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    {% if word.contributor %}
                        <a class="mr-2" href="#">{{ word.contributor.username }}</a>
                    {% else %}
                        <p class="mr-2">Anonymous</p>
                    {% endif %}
                    <small class="text-muted">{{ word.date_published }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('word', word_id = word.id) }}">{{ word.word }}</a></h2>
                <div class="container">
                    <div class="row article-metadata">
                        <div class="col-md-6">
                            <b>Part of speech:</b>
                            <p class="article-content">{{ word.part_o_speech.partOfSpeech }}</p>
                        </div>
                        <div class="col-md-6">
                            {% if word.ipa %}
                                <b>Pronunciation:</b>
                                <p class="article-content">{{ word.ipa }}</p>
                            {% endif %}
                        </div>
                    </div>
                <div>
                <div>
                    <p class="article-header">Definition: </p>
                    <p class="article-content">{{ word.definition }}</p>
                </div>
                <div>
                    <p class="article-header">Example Sentence: </p>
                    <p class="article-content">{{ word.exampleSentence }}</p>
                </div>
            </div>
        {% else %}
            <div class="article-metadata">
                <a class="mr-2" href="#">No word!</a>
                <small class="text-muted">{{ word.date_published }}</small>
                <p class="article-header">No word has been set for today!</p>
            </div>
        {% endif %}
    </article>
{% endblock content %}
