{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="container">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.word.label(class="form-control-label") }}
                                {% if form.word.errors %}
                                    {{ form.word(class="is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.word.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.word() }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6" class="form-group">
                            <div>
                                {{ form.part_o_speech.label(class="form-control-label") }}
                                {% if form.part_o_speech.errors %}
                                    {{ form.part_o_speech(class="is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.part_o_speech.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.part_o_speech() }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div>
                                {{ form.date_published.label(class="form-control-label") }}
                                {% if user.isAdmin %}
                                    {{ form.date_published() }}
                                {% else %}
                                    {{ form.date_published(disabled="disabled") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                {{ form.ipa.label(class="form-control-label") }}
                                {% if form.ipa.errors %}
                                    {{ form.ipa(class="is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.ipa.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.ipa() }}
                                {% endif %}
                             </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.definition.label(class="form-control-label") }}
                    {% if form.definition.errors %}
                        {{ form.definition(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.definition.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.definition(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.exampleSentence.label(class="form-control-label") }}
                    {% if form.exampleSentence.errors %}
                        {{ form.exampleSentence(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.exampleSentence.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.exampleSentence(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}