{% extends "layout.html" %}
{% block content %}
    <p>Word Bank</p>
    <div class="grid-container">
    {% for word in words %}
        <article class="grid-item">
            <!--<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + word.contributor.image_file) }}"> -->
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ word.contributor.username }}</a>
                    <small class="text-muted">{{ word.date_published }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('word', word_id = word.id) }}">{{ word.word }}</a></h2>
                <div>
                    <b>Part of speech:</b>
                    <p class="article-content">{{ word.partOfSpeech }}</p>
                    {% if word.ipa %}
                        <b>Pronunciation:</b>
                        <p class="article-content">{{ word.ipa }}</p>
                    {% endif %}
                </div>
                <div>
                    <p class="article-header">Definition: </p>
                    <p class="article-content">{{ word.definition }}</p>
                </div>
                <div>
                    <p class="article-header">Example Sentence: </p>
                    <p class="article-content">{{ word.exampleSentence }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
    </div>
{% endblock content %}
