{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + word.contributor.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ word.contributor.username }}</a>
                  {% if word.date_published %}
                    <small class="text-muted">{{ word.date_published.strftime('%Y-%m-%d') }}</small>
                  {% endif %}
                    {% if word.contributor == current_user or current_user.isAdmin %}
                    <div>
                        <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('update_word', word_id=word.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                    {% endif %}
                </div>
                <div class="container">
                    <h2 class="article-title">{{ word.word }}</h2>
                    <div class="row article-metadata">
                        <div class="col-md-6">
                            <b>Part of speech:</b>
                            <p class="article-content">{{ word.part_o_speech.partOfSpeech }}</p>
                        </div>
                        <div class="col-md-6">
                            {% if word.ipa %}
                                <b>Pronunciation:</b>
                                <p class="article-content">{{ word.ipa }}</p>
                            {% endif %}
                        </div>
                    </div>
                <div>
                    <p class="article-header">Definition: </p>
                    <p class="article-content">{{ word.definition }}</p>
                </div>
                <div>
                    <p class="article-header">Example Sentence: </p>
                    <p class="article-content">{{ word.exampleSentence }}</p>
                </div>
                </div>
            </div>
        </article>
<!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete word?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <form action="{{ url_for('delete_word', word_id=word.id) }}" method="word">
                   <input class="btn btn-danger" type="submit" value="Delete">
               </form>
             </div>
           </div>
         </div>
        </div>
{% endblock content %}
