{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Word Bank</h1>
                {% if words_number == '1' %}
                    <p>1 word returned</p>
                {% else %}
                    <p>{{ words_number + " words returned" }}</p>
                {% endif %}
            </div>
            <div class="col-md-5">
                    <a href="{{ url_for('word_bank_random') }}">Random Word</a>
                    <a href="{{ url_for('word_bank') }}"> | Last 7 Words</a>
                    <a href="{{ url_for('word_bank_search', search_term=' ') }}"> | All Words</a>
            </div>
        </div>
        <div class="row">
            <form method="POST" action="" class="col-md-12 input-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group col-md-10">
                    {{ form.hidden_tag() }}
                    <fieldset >
                        <div>
                            {% if form.search_data.errors %}
                                {{ form.search_data(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.search_data.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.search_data(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
                <div class="form-group col-md-2">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <legend class="border-bottom mb-4">{{ legend }}</legend>
            </form>
        </div>
    </div>
    <table class="table">
        <colgroup>
            <col class="tbl-col-10" />
            <col class="tbl-col-10" />
            <col class="tbl-col-10" />
            <col class="tbl-col-10" />
            <col class="tbl-col-20" />
            <col class="tbl-col-20" />
            <col class="tbl-col-10" />
        </colgroup>
        <tr class="tr">
            <th><h5 class="article-header">Word</h5></th>
            <th><h5 class="article-header">Published</h5></th>
            <th><h5 class="article-header">Pronunciation</h5></th>
            <th><h5 class="article-header">Part of Speech</h5></th>
            <th><h5 class="article-header">Definition</h5></th>
            <th><h5 class="article-header">Example Sentence</h5></th>
            <th><h5 class="article-header">Contributor</h5></th>
        </tr>
    {% for word in words %}
        <tr class="tr">
            <!--<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + word.contributor.image_file) }}"> -->
            <th>
                <b><a class="article-content" href="{{ url_for('word', word_id = word.id) }}">{{ word.word }}</a></b>
            </th>
            <th>
                <small>{{ word.date_published }}</small>
            </th>
            <th>
                {% if word.ipa %}
                    <p>{{ word.ipa }}</p>
                {% else %}
                    <p> </p>
                {% endif %}
            </th>
            <th>
                <p>{{ word.part_o_speech.partOfSpeech }}</p>
            </th>
            <th class="tbl-col-30">
                <p>{{ word.definition }}</p>
            </th>
            <th class="tbl-col-30">
                <p>{{ word.exampleSentence }}</p>
            </th>
            <th>
                {% if word.contributor %}
                    <a href="{{ url_for('word_bank_user', user_id=word.user_id) }}">{{ word.contributor.username }}</a>
                {% else %}
                    <p>Anonymous</p>
                {% endif %}
            </th>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
